.py-0 {
  padding: 0 0 !important;
}
.py-1 {
  padding: 1em 0;
}
.py-2{
  padding: 2em 0;
}
.py-3 {
  padding: 3em 0;
}
.py-4 {
  padding: 4em 0;
}
.py-5 {
  padding: 5em 0;
}

.cart-subtotal-drawer {
  font-size: 1.8rem !important;
  font-weight: bold !important;
}

.subtotal-price {
  float: right;
  font-size: 1.8rem;
  font-weight: bold;
}

.button-container {
  text-align: center;
}

.text-center {
  text-align: center;
}

.btn-checkout {
  width: 100%;
  margin: 1.5rem 0;
  padding: 1rem 0;
  text-transform: uppercase;
  border-radius: 0;
}

.view_cart {
  font-size: 1rem !important;
  text-decoration: underline !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.cart-border {
  border: 1px solid #ebebeb !important;
}

.animate__shakeX {
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  animation-name: shakeX;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes shakeX {
  2%, 18% {
      transform: translate3d(-5px, 0, 0);
  }

  4%, 16% {
      transform: translate3d(5px, 0, 0);
  }

  6%, 10%, 14% {
      transform: translate3d(-5px, 0, 0);
  }

  8%, 12% {
      transform: translate3d(5px, 0, 0);
  }
  
  18.1% {
      transform: translate3d(0px, 0, 0);
  }
}

@media only screen and (max-width: 989px) { 
  .shop-menu {
    display: none;
  }
}

@media only screen and (max-width: 768px) { 
  .shop-menu {
    display: none;
  }
}

@media only screen and (max-width: 694px) { 
  .shop-menu {
    display: none;
  }
}

.page-container#PageContainer.active {
  position: fixed;
  overflow: hidden;
  filter: blur(10px);
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  pointer-events: none;
  user-select: none;
}